Welcome, <%= current_user.username %>!

<section class="stats">
  <%= render 'users/stats' %>
</section>

<section class='posts'>
    <h2>My Posts:</h2>
    
    <%= render partial: '/users/new_post' %>
    
    <% unless current_user.posts.empty? %>
    <ul>
      <% current_user.posts.sorted.each do |post| %>
        <li id="post-<%= post.id %>">
          <div><%= post.text %></div> 
          <div><%= post.user.username %></div>
          <div><%= post.strftime %></div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You currently have no posts!</p>
  <% end %>
</section>
