<% if current_user %>
  <%= link_to 'My Dashboard', dashboard_path %>
<% end %>

<section class='feed'>
    <h2>All Posts:</h2>
    <ul>
      <% @posts.sorted.each do |post| %>
        <li id="post-<%= post.id %>">
          <div><%= post.text %></div> 
          <div><%= post.user.username %></div>
          <div><%= post.strftime %></div>
          <% @user = post.user %>
          <%= render 'users/follow_form' if current_user %>
        </li>
      <% end %>
    </ul>
</section>
